/* Global styles and resets */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #EAE2D6; /* Tan */
    color: #333;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 0 2rem 0;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Header styles */
header {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('https://i.ibb.co/NSxPwhd/14-A3-A948-D8-E8-49-EB-A294-1-B249799-BBA9.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    padding: 20px 0;
    text-align: center;
}

h1, h2, h3 {
    margin: 0;
    font-weight: 600;
}

h1 {
    font-size: 2.5rem;
}

p {
    font-size: 18px;
    margin-bottom: 20px;
    line-height: 1.8;
}

/* Map styles */
#map {
    height: 60vh;
    width: 85%;
    margin: 20px auto;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}

/* Button styles */
.toggle-button {
    margin: 10px;
    padding: 10px 20px;
    background-color: #A5783D; /* Light Brown */
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s, transform 0.2s;
}

.toggle-button:hover {
    background-color: #8A6730; /* Darker Light Brown */
    transform: translateY(-3px);
}

/* Content styles */
.content {
    max-width: 85%;
    text-align: justify;
    margin: 40px auto;
    background: #C8BFA5; /* Light Tan */
    padding: 30px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.12);
    border-radius: 10px;
}

/* Back to top button styles */
.top {
    position: fixed; /* Change to "fixed" to make the element stay in place while scrolling */
    bottom: 20px;
    right: 20px; /* Adjust the right position */
    transform: translateX(0%); /* Remove the horizontal translation */
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px; /* Increase the font size */
    color: #fff;
    background: #0c3000; /* Forest Green */
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.12);
    transition: background-color 0.3s, transform 0.2s;
    display: flex; /* Align the content horizontally and vertically */
    justify-content: center;
    align-items: center;
}

.top:hover {
    background: #071300; /* Slightly Darker Forest Green */
    transform: translateY(-3px);
}

/* Footer styles */
footer {
    background-color: #4E7E3E; /* Forest Green */
    color: white;
    text-align: center;
    padding: 15px 0;
    width: 100%;
    position: relative;
    bottom: 0;
}

.header-overlay {
    background-color: rgba(0, 0, 0, 0.428); /* black with opacity */
    border-radius: 10px; /* Rounded corners */
    padding: 20px; /* Adjust as needed */
    width: 80%; /* Adjust the width as needed */
    max-width: 800px; /* Limit the maximum width */
    margin: 0 auto; /* Center the box horizontally */
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2); /* Add a slight shadow */
}

/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Sticky navigation bar */
.navbar {
    z-index: 1000;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4E7E3E;
    padding: 10px 20px;
    position: sticky;
    top: 0;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    width: auto;
    height: 50px;
    margin-right: 10px;
}

.navigationbar {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigationbar li {
    margin: 0 20px;
}

.navigationbar li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    position: relative;
}

.navigationbar li a::before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 0.3s ease-in-out;
}

.navigationbar li a:hover::before, .section.active li a::before {
    width: 100%;
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
    .navbar {
    width: 100%;
        flex-direction: column;
        align-items: flex-end;
    }

    .navigationbar {
        flex-direction: column;
        align-items: center;
    }

    .navigationbar li {
        margin: 10px 0;
    }
}
.logo-text {
    font-size: 16px;
    color: white;
    margin-left: 10px;
}

.popup-image {
    max-width: 150px;  /* Adjust the width of the images */
    height: auto;     /* Maintain the aspect ratio */
    display: block;   /* Display images as block elements */
    margin: 0 auto;   /* Center the images within the popup */
}