
/* Global styles and resets */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #EAE2D6; /* Tan */
    color: #333;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Header styles */
header {
    height: 80vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('https://i.ibb.co/NSxPwhd/14-A3-A948-D8-E8-49-EB-A294-1-B249799-BBA9.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    padding: 20px 0;
    text-align: center;
}

h1, h2, h3 {
    margin: 0;
    font-weight: 600;
}

h1 {
    font-size: 2.5rem;
}

p {
    font-size: 18px;
    margin-bottom: 20px;
    line-height: 1.8;
}

/* Map styles */
#map {
    height: 85vh;
    width: 85%;
    margin: 20px auto;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}

/* Button styles */
.toggle-button {
    margin: 10px;
    padding: 10px 20px;
    background-color: #A5783D; /* Light Brown */
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s, transform 0.2s;
}

.toggle-button:hover {
    background-color: #8A6730; /* Darker Light Brown */
    transform: translateY(-3px);
}

/* Content styles */
.content {
    max-width: 85%;
    text-align: justify;
    margin: 40px auto;
    background: #C8BFA5; /* Light Tan */
    padding: 30px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.12);
    border-radius: 10px;
}

/* Back to top button styles */
.top {
    position: sticky;
    bottom: 20px;
    right: 10px; /* Use "right" instead of "margin-right" to center the circle */
    transform: translateX(50%); /* Center the circle horizontally */
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    background: #0c3000; /* Forest Green */
    width: 50px; /* Set the width and height to create a circle */
    height: 50px;
    border-radius: 50%; /* Make the element a circle */
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.12);
    transition: background-color 0.3s, transform 0.2s;
}

.top:hover {
    background: #3B6026; /* Slightly Darker Forest Green */
    transform: translateY(-3px);
}

/* Footer styles */
footer {
    background-color: #4E7E3E; /* Forest Green */
    color: white;
    text-align: center;
    padding: 15px 0;
    width: 100%;
    position: relative;
    bottom: 0;
}

